.app-layout {
    min-height: 100vh;
    width: 100%;

    background-image:
        linear-gradient(rgba(245, 247, 251, 0.55),
            rgba(245, 247, 251, 0.55)),
        url("../assets/back.png");

    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    box-sizing: border-box;
}

.app-body {
    display: flex;
    min-height: calc(100vh - 76px);
}

.main-content {
    flex: 1;
    min-width: 0;
    padding: 30px;
    overflow-y: auto;
    box-sizing: border-box;
}


/* ========================================
   MOBILE
======================================== */

@media (max-width: 768px) {
    .main-content {
        padding: 20px 14px;
    }
}